@model List<Equipment>



@{
    string type = ViewBag.type;
    List<String> selected = new List<String>();
    if (type != null && !type.Equals(String.Empty))
    {
        selected = type.Split(',').ToList();
    }


}

<section class="page-header page-header-xs light" style="background-color: rgba(0, 0, 0, 0.05);border-bottom:1px solid  #ccc">
    <div class="container">

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="search-box" style="display: block;">
                        <form action="/Search/Index" method="get" style="margin-bottom: 0px">
                            <div class="input-group">
                                <input type="text" name="s" value="@Request["s"]" placeholder="Search" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section style="padding-top:40px">
    <div class="container">
        @*<div class="row">
            <div class="col-md-2">
                <div class="side-nav margin-bottom-60">

                    <div class="side-nav-head">
                        <button class="fa fa-bars"></button>
                        <h2 class="owl-featured">Refine your search</h2>
                    </div>
                    <ul class="list-group list-group-bordered list-group-noicon uppercase">
                        <li class="list-group-item"><a style="@if (selected.Contains("barcode"))
                                                              {<text>background-color: #045743;color:#fff</text>}" href="/Search/Index?s=@ViewBag.search&t=@ViewBag.type&selected=barcode">BARCODE</a></li>
                        <li class="list-group-item"><a style="@if (selected.Contains("equipments"))
                                                              {<text>background-color: #045743;color:#fff</text>}" href="/Search/Index?s=@ViewBag.search&t=@ViewBag.type&selected=equipments">EQUIPMENTS</a></li>
                        <li class="list-group-item"><a style="@if (selected.Contains("contact"))
                                                              {<text>background-color: #045743;color:#fff</text>}" href="/Search/Index?s=@ViewBag.search&t=@ViewBag.type&selected=contact">CONTACT</a></li>
                        <li class="list-group-item"><a style="@if (selected.Contains("model"))
                                                              {<text>background-color: #045743;color:#fff</text>}" href="/Search/Index?s=@ViewBag.search&t=@ViewBag.type&selected=model">MODEL</a></li>
                    </ul>

                </div>
            </div>

                @if (Model.Any())
                {

                    <div class="col-md-10">
                        @if (Session["EmailId"] != null && Session["Role"] != null && Session["Role"].Equals("admin"))
                        {<div style="float: right; padding-bottom: 20px">
                             <button class="btn  btn-primary editBtn"><i class="et-edit"></i>Edit</button>
                             <a href="#" class="btn  btn-primary deleteBtn"><i class="et-caution"></i>Delete</a>
                         </div>
                        }

                        <table class="table table-striped table-bordered table-hover margin-top30 table-vertical-middle">
                            <thead style="background-color: #045743; color: #fff">
                            <tr>
                                <th></th>
                                <th>BarCode</th>
                                <th>No Of</th>
                                <th>Equipment</th>
                                <th>Room No</th>
                                <th>Contact</th>
                                <th>Model</th>

                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var equipment in Model)
                            {
                                <tr>
                                    <td style="text-align: center"><input type="radio" name="radioequipment" value="@equipment.ID" required class="radio"/> </td>
                                    <td>@equipment.BarCode</td>
                                    <td>@equipment.NoOf</td>
                                    <td>@equipment.Equipment1</td>
                                    <td>@equipment.RoomNumber</td>
                                    <td>@equipment.Contact</td>
                                    <td>
                                        @equipment.Model
                                    </td>

                                    <td>
                                        <div style="display: inline-flex">
                                            <a href="#" data-toggle="modal" data-target="#@equipment.ID" class="btn btn-primary"><i class="et-tools-2"></i>Details</a>

                                        </div>
                                        <div id="@equipment.ID" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="@equipment.ID" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">

                                                    <!-- header modal -->
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="@equipment.ID">@equipment.Equipment1</h4>
                                                    </div>

                                                    <!-- body modal -->
                                                    <div class="modal-body">

                                                        <div class="table-responsive" style="padding: 15px">
                                                            <table class="table table-bordered table-striped">

                                                                <tbody>
                                                                <tr>
                                                                    <th scope="row">BarCode</th>
                                                                    <td>@equipment.BarCode</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">No Of</th>
                                                                    <td>@equipment.NoOf</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">Equipment</th>
                                                                    <td>@equipment.Equipment1</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">Room No</th>
                                                                    <td>@equipment.RoomNumber</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">Model</th>
                                                                    <td>@equipment.Model</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">Purchase Date</th>
                                                                    <td>@equipment.PurchaseDate</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">UNBC Barcode</th>
                                                                    <td>@equipment.UNBCCode</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">Serial No</th>
                                                                    <td>@equipment.SerialNo</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">PO#</th>
                                                                    <td>@equipment.PO</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">Purchase Price</th>
                                                                    <td>@equipment.PurchasePrice</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">Total Price</th>
                                                                    <td>@equipment.TotalPrice</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">Vendor</th>
                                                                    <td>@equipment.Vendor</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">Model and Brand of instrument:</th>
                                                                    <td>@equipment.ModelBrandInfo</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">
                                                                        Type of analysis done on instrument:
                                                                    </th>
                                                                    <td>@equipment.TypeOfAnalysis</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">
                                                                        Other potential uses of instrument:
                                                                    </th>
                                                                    <td>@equipment.PotentialUse</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">
                                                                        Is instrument in good repair. If not, what needs to be done to get it going?
                                                                    </th>
                                                                    <td>@equipment.IsInGoodUse</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">
                                                                        Current users of equipment (name of faculty, industries, courses):
                                                                    </th>
                                                                    <td>@equipment.CurrentUsersOfEquipment</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">
                                                                        Revenue (from whom and how much annually):
                                                                    </th>
                                                                    <td>@equipment.Revenue</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">
                                                                        Other useful information:
                                                                    </th>
                                                                    <td>@equipment.OtherUsefulInfo</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }



                            </tbody>
                        </table>
                        @if (Session["EmailId"] != null && Session["Role"] != null && Session["Role"].Equals("admin"))
                        {
                            <div style="float: left; padding-bottom: 20px">
                                <button class="btn btn-primary editBtn"><i class="et-edit"></i>Edit</button>
                                <button class="btn  btn-primary deleteBtn"><i class="et-caution"></i>Delete</button>
                            </div>
                        }

                    </div>



                }
                else
                {

                    <div class="col-md-10">
                        <div class="alert alert-warning margin-bottom-30">
                            <!-- WARNING -->
                            Unable to find item in database
                        </div>
                    </div>

                        }

                    </div>*@


        <style>
            /*
                    Use the DejaVu Sans font for display and embedding in the PDF file.
                    The standard PDF fonts have no support for Unicode characters.
                */
            .k-grid {
                font-family: "DejaVu Sans", "Arial", sans-serif;
            }

            /* Hide the Grid header and pager during export */
            .k-pdf-export .k-grid-toolbar,
            .k-pdf-export .k-pager-wrap {
                display: none;
            }
        </style>
    <script type="x/kendo-template" id="page-template">
            <div class="page-template">
                <div class="header">
                    <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    Multi-page grid with automatic page breaking
                </div>
                <div class="watermark">KENDO UI</div>
                <div class="footer">
                    Page #: pageNum # of #: totalPages #
                </div>
            </div>
        </script>

        <style>
            /* Page Template for the exported PDF */
            .page-template {
                font-family: "DejaVu Sans", "Arial", sans-serif;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

                .page-template .header {
                    position: absolute;
                    top: 30px;
                    left: 30px;
                    right: 30px;
                    border-bottom: 1px solid #888;
                    color: #888;
                }

                .page-template .footer {
                    position: absolute;
                    bottom: 30px;
                    left: 30px;
                    right: 30px;
                    border-top: 1px solid #888;
                    text-align: center;
                    color: #888;
                }

                .page-template .watermark {
                    font-weight: bold;
                    font-size: 400%;
                    text-align: center;
                    margin-top: 30%;
                    color: #aaaaaa;
                    opacity: 0.1;
                    transform: rotate(-35deg) scale(1.7, 1.5);
                }

            /* Content styling */
            .customer-photo {
                display: inline-block;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-size: 32px 35px;
                background-position: center center;
                vertical-align: middle;
                line-height: 32px;
                box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
                margin-left: 5px;
            }

            .customer-name {
                display: inline-block;
                vertical-align: middle;
                line-height: 32px;
                padding-left: 3px;
            }
        </style>
    @if (Session["EmailId"] != null && Session["Role"] != null && Session["Role"].Equals("admin"))
{
            @(Html.Kendo().Grid(Model) //Bind the grid to ViewBag.Products
          .Name("grid")
          .Columns(columns =>
          {
              columns.Bound(product => product.BarCode).Title("Bar Code").Width(130).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)))
                  ;
              columns.Bound(product => product.Equipment1).Title("Equipment").Width(430);
              columns.Bound(product => product.NoOf).Title("No of Equipments").Width(100).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
              columns.Bound(product => product.Contact).Width(180);
              columns.Command(command =>
              {
                  command.Edit();
                  command.Destroy();
              });

          })
          .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("EditPage").Window(w => w.Title("Edit Equipments").Name("editWindow").Width(900)))
              .Excel(excel => excel
            .FileName("Kendo UI Grid Export.xlsx")
            .Filterable(true)
            .ProxyURL(Url.Action("Excel_Export_Save", "Search"))
        )
          .ToolBar(tools => tools.Excel())
          .ToolBar(tools => tools.Pdf())
          .Pdf(pdf => pdf
            .AllPages()
            .AvoidLinks()
            .PaperSize("A4")
            .Scale(0.8)
            .Margin("2cm", "1cm", "1cm", "1cm")
            .Landscape()
            .RepeatHeaders()
            .TemplateId("page-template")
            .FileName("PDF.pdf")
            .ProxyURL(Url.Action("Pdf_Export_Save", "Equipments")))
          .HtmlAttributes(new {style = "height: 550px;"})
          .Scrollable()
          .Selectable(selectable => selectable
              .Mode(GridSelectionMode.Multiple))
          .Groupable()
          .Sortable()
          .Filterable(filterable => filterable
              .Extra(false)
              .Mode(GridFilterMode.Row)
              .Operators(operators => operators
                  .ForString(str => str.Clear()
                          .Contains("Contains")
                      .IsEqualTo("Is equal to")
                  ))
          )
          .Pageable(pageable => pageable
              .Input(true)
              .Numeric(false)
          )
          .Reorderable(r => r.Columns(true))
          .Resizable(r => r.Columns(true))
          //.ColumnMenu()
          .Scrollable(scr => scr.Height(430))
          .ClientDetailTemplateId("client-template")
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(20)
              .Model(model => model.Id(p => p.ID))
              .Destroy(update => update.Action("Delete", "Search"))
              .Update(update => update.Action("Edit", "Equipments"))
              .ServerOperation(false)
                          .Read(read => read.Action("Excel_Export_Read", "Search"))

          ))
}
else
{
    @(Html.Kendo().Grid(Model) //Bind the grid to ViewBag.Products
          .Name("grid")
          .Columns(columns =>
          {
              columns.Bound(product => product.BarCode).Title("Bar Code").Width(130).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
              columns.Bound(product => product.Equipment1).Title("Equipment").Width(430);
              columns.Bound(product => product.NoOf).Title("No of Equipments").Width(100).Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false)));
              columns.Bound(product => product.Contact).Width(180);

          })

          .ToolBar(tools => tools.Excel())
          .ToolBar(tools => tools.Pdf())
          .HtmlAttributes(new { style = "height: 550px;" })
          .Scrollable()
          .Selectable(selectable => selectable
              .Mode(GridSelectionMode.Multiple))
          .Groupable()
          .Sortable()
          .Filterable(filterable => filterable
              .Extra(false)
              .Mode(GridFilterMode.Row)
              .Operators(operators => operators
                  .ForString(str => str.Clear()

                      .IsEqualTo("Is equal to").Contains("Contains")
                  ))
          )
          .Pageable(pageable => pageable
              .Input(true)
              .Numeric(false)
          )
          .Reorderable(r => r.Columns(true))
          .Resizable(r => r.Columns(true))
        //.ColumnMenu()
          .Scrollable(scr => scr.Height(430))
          .ClientDetailTemplateId("client-template")
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(20)

              .ServerOperation(false)
          ))
}


        </div>

        <script id="client-template" type="text/x-kendo-template">
            <div><span class="details-bold">Bar Code:</span><br /> #: BarCode # </div>
            <div><span class="details-bold">No of Equipments:</span><br /> #: NoOf #</div>
            <div><span class="details-bold">Equipment:</span><br /> #: Equipment1 #</div>
            <div><span class="details-bold">Room number:</span><br /> #: RoomNumber #</div>
            <div><span class="details-bold">Model:</span><br /> #: Model #</div>
            <div><span class="details-bold">Purchase Date:</span><br /> #: PurchaseDate #</div>
            <div><span class="details-bold">UNBC Code:</span><br /> #: UNBCCode #</div>
            <div><span class="details-bold">Serial No:</span><br /> #: SerialNo #</div>
            <div><span class="details-bold">PO:</span><br /> #: PO #</div>
            <div><span class="details-bold">Purchase Price:</span><br /> #: PurchasePrice #</div>
            <div><span class="details-bold">Total Price:</span><br /> #: TotalPrice #</div>
            <div><span class="details-bold">Vendor:</span><br /> #: Vendor #</div>
            <div><span class="details-bold">Model and Brand of instrument:</span><br /> #: ModelBrandInfo #</div>
            <div><span class="details-bold">Type of analysis done on instrument:</span><br /> #: TypeOfAnalysis #</div>
            <div><span class="details-bold">Other potential uses of instrument:</span><br /> #: PotentialUse #</div>
            <div><span class="details-bold">Is instrument in good repair. If not, what needs to be done to get it going?</span><br /> #: IsInGoodUse #</div>
            <div><span class="details-bold">Current users of equipment (name of faculty, industries, courses):</span><br /> #: CurrentUsersOfEquipment #</div>
            <div><span class="details-bold">Revenue (from whom and how much annually):</span><br /> #: Revenue #</div>
            <div><span class="details-bold">Other useful information:</span><br /> #: OtherUsefulInfo #</div>


        </script>

    </section>


<style>
    thead > tr > th {
        min-width: 80px;
    }

    .details-bold {
        font-weight: bold;
    }
</style>
<script>
    function ConfirmDelete() {
        var x = confirm("Are you sure you want to delete?");
        if (x) {
            return true;
        } else
            return false;
    }

    function redirectToAction() {
        var radioValue = $('input[name=radioequipment]:checked').val();


    }

    $('.editBtn').click(function (e) {
        var returnUrl = window.location.href;

        var radioValue = $('input[name=radioequipment]:checked').val();
        if (isNaN(radioValue)) {
            alert("Please select an item to be edited");
            return false;
        } else {
            var redirectUrl = "/Equipments/Edit?id=" + radioValue + "&returnUrl=" + returnUrl;

            window.location.href = redirectUrl;
            return true;
        }

    });

    $('.deleteBtn').click(function (e) {

        if (ConfirmDelete()) {
            var radioValue = $('input[name=radioequipment]:checked').val();
            if (isNaN(radioValue)) {
                alert("Please select an item to be deleted");
                return false;
            } else {
                var returnUrl = window.location.href;

                var redirectUrl = "/Equipments/DeleteConfirmed?id=" + radioValue + "&returnUrl=" + returnUrl;
                window.location.href = redirectUrl;
                return true;
            }
        } else return false;


    });


</script>